<div class="wrapperSignin">
    <form action="signin.html">
    <h2 class="heading">Вход</h2>
    {{{inputLogin}}}
    {{{inputPassword}}}
    {{{button}}}
    {{{errorResponse}}}
    <a href="/signup" class="linkSignin">Нет аккаунта?</a>

    </form>
</div>
