<div class="wrapper">
    <form action="signin.html">
    <h2 class="heading">Вход</h2>
    {{{inputLogin}}}
    {{{inputPassword}}}
    {{{button}}}
    {{{errorResponse}}}
    <a href="/signup" class="link">Нет аккаунта?</a>

    </form>
</div>
