    <div class="main-chat-avatar">
        ВТ
    </div>
    <div class="main-chat-title">
        {{currentChatInfo.title}}
    </div>
    <div class="main-chat-config">
        {{{dot}}}
    </div>
